.Categories {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.Actions {
    margin: 10px;
}

.Actions label {
    font-size: 1rem;
}

.Select {
    font-size: 1rem;
    padding: 0.1em 0.3em;
    background-color: #4d5061;
    color: white;
    border: 0;
    margin-left: 5px;
}