.Movie {
    border: 1px solid #3a3a3a;
    border-radius: 5px;
}

.Movie img {
    width: 100%;
}

.MovieTitle {
    margin-top: 0;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 100%;
}

.MovieFooter {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.MovieScore {
    margin: 0;
    margin-left: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}